.vscode/
.idea/
.DS_Store
*.js
*.js.map
*.log.*
lib
src/*.d.ts
src/platforms/android/*.aar
!src/index.d.ts
!src/references.d.ts
demo/*.d.ts
demo/app/*.d.ts
!demo/references.d.ts
demo/platforms
demo/.nsbuildinfo
node_modules
publish/package
